body{
    margin: 0;
    padding: 0;
    background-color: #e9e6e1;
}
.img {
    width: 25%;
    height: auto;
    float: right;
    padding-top: 15rem;
    margin-right: 20%;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0),  #ddd5c2), url(../img/Wizkid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 20%;
}
.btn, .more{
    cursor: pointer;
    font-size: 0.875rem !important;
    font-weight: 300 !important;
    text-transform: uppercase: !important;
    padding: 0.1875rem 0.3125rem !important;
    line-height: 1 !important;
    border: 1px solid #000 !important;
    display: inline-block;
    color: #000 !important;
    margin-left: 32%;
    font-family: "roboto", sans-serif !important;
}
.more{
    margin-left: 39%;
    margin-top: 1%;
}
.clip{

    width: 100%;
    height: 315px;
}
.download{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 100%;
}
a{
    border:1px solid #000;
    flex-basis: 7rem;
    padding: 0.3125rem 1.125rem;
    text-decoration: none;
}
h1{
    font-size: 4rem;
    font-weight: lighter;
    margin-top: 5px;
    font-family: "Backlash Script W05 Regular", sans-serif;
}
.music, .video, .footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer{
    margin-top: 15%;
}
.line{
    max-width: 100%;
    height: 4px;
    margin-top: -4px;
    background-color: #9da49d;
}
.albums{
    display: flex;
    justify-content: space-evenly;
}
.album{
    height: auto;
    max-width: 100%;
    
}
p{
    margin: 0.5em 0;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-weight: 600;
}
.content{
    display: flex;
    justify-content: center;
    margin: 2%;
    max-width: 100%;
}
.albums{
    display: flex;
    justify-content: center;
    margin: 2%;
    max-width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1130px){
    .header{

        background-position: 25% 70%;
    }
}
@media screen and (max-width: 1050px){
    .img{
        width: 60%;
        padding-top: 4rem;
    }
    .download{
        font-size: 200%;
    }
    a{
        flex-basis: 15rem;
    }
    .wizkid{
        margin-bottom: 30%;;
    }
}
@media screen and (max-width: 500px){
    .header{
        background-position: 30%;;
    }
    
}
@media screen and (max-width: 400px){
    
    .madeinlagos{
        margin-top: 100px;
    }
    .header{
        background-position: 29%
    }
    .albums{
        display: block;
    }
    .btn{
            font-size: 25px !important;
            margin-left: 31%;
        }
    p{
        font-size: 25px;
    }
    .content{
            margin-left: 30px;
    }
    
}
@media screen and (max-width: 700px){
    .header{
        background-size: cover;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0),  #ddd5c2), url(../img/Wizkid.jpg);
        height: calc(100vh - 7.5em);
        align-items: stretch;
        padding-top: 5em;
        padding-bottom: 2.5em;
    }
    .header .container{
        width: 100%;
        height: inherit;
        justify-content: space-between;
    }

    .header .madeinlagos{
        width: 90%;
        margin-top: -30px;
    }
    .album {
        max-width: 100%;

    }
    .wizkid{
        margin-top: -315px;
        
    }
    .img{
        width: 60%;
        padding-top: 34rem;
    }
}
@media screen and (max-width: 630px){
    .content{
        display: list-item;
        width: 90%;
        margin-left: 9%;
    }
    .youtube{
        width: 100%;
    }
    .clip{
        width: 90%;
        height: 50%;
    }
}
